{% extends 'layout.html' %}

{% block content %}
<section>
	<input type="text" class="chat-name" placeholder="Enter you nickname">
	<div class="chat-messages">
		<div class="chat-message">
			Pablo: hello there!
		</div>
		<div class="chat-message">
			Pablo: hello there!
		</div>
		<div class="chat-message">
			Pablo: hello there!
		</div>
		<div class="chat-message">
			Pablo: hello there!
		</div>
	</div>
	<textarea placeholder="type your message here!"></textarea>
	<div class="chat-status">Status <span>Idle</span></div>
</section>
{% endblock %}