{% extends 'layout.html' %}

{% block content %}
<div class="pure-g">
	<div class="pure-u-4-5">
		<div class="main-container">
			<section class="add-margin-bottom common-panel">
				<ul id="messages"></ul>
			</section>
			<form id="send-messages-form" action="" autocomplete="off">
					<div class="pure-g">
						<div class="pure-u-4-5">
							<input type="text" id="m" placeholder="Share something..." class="form-input" id="name" required>
						</div>
						<div class="pure-u-1-5">
							<input type="submit" value="SEND" class="button-blue send-message-button"/>
							<div class="ease"></div>	
						</div>
					</div>
			</form>
		</div>
	</div>
	<div class="pure-u-1-5">
		<aside class="users common-panel">
			<span id="usersCount"></span>
		</aside>
	</div>
</div>
{% endblock %}

{% block scripts%}
	<script type="text/javascript" src="http://localhost:3030/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="js/min/main.min.js"></script>
{% endblock%}
