<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node Chat</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<h1>Node chat <small>[v 0.1]</small></h1>
	
	{% block content %}{% endblock %}

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script type="text/javascript" src="http://localhost:3030/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>