<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="title" content="Zen Chat">
	<meta name="description" content="Simple, lightweight and anonymous. Meet and discuss ideas with people from everywhere.">
	<meta name="author" content="Pablo Valor">
	<meta name="Copyright" content="Pablo Valor">

	<!-- Facebook Open Graph meta tags -->
	<meta property="og:title" content="Chat Zen"/>
	<meta property="og:url" content="https://chat-zen.herokuapp.com/login"/>
	<meta property="og:site_name" content="Chat Zen"/>
	<meta property="og:image" content="images/min/social-network-image.jpg"/>
	<meta property="og:image:width" content="400" /> 
	<meta property="og:image:height" content="400" />
	<!-- /Facebook Open Graph Meta Tags -->

	<!-- Twitter Cards meta tags -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="https://chat-zen.herokuapp.com/" />
	<meta name="twitter:creator" content="@pablovalor" />
	<meta name="twitter:title" content="Chat Zen" />
	<meta name="twitter:description" content="Simple, lightweight and anonymous. Meet and discuss ideas with people from everywhere." />
	<meta name="twitter:image" content="https://chat-zen.herokuapp.com/images/min/social-network-image.jpg" />
	<meta name="twitter:url" content="https://chat-zen.herokuapp.com/" />
	<!-- /Twitter Cards meta tags -->

	<!-- Google+ snippet -->
	<meta itemprop="name" content="Chat zen">
	<meta itemprop="description" content="Simple, lightweight and anonymous. Meet and discuss ideas with people from everywhere.">
	<meta itemprop="image" content="images/min/social-network-image.jpg">
	<!-- /Google+ snippet -->

	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">

	<title>Chat Zen</title>

	<!-- Google fonts -->
	<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway:600,400' rel='stylesheet' type='text/css'>
	<!-- /Google fonts -->
	
	<!-- Modernizr -->
	<script type="text/javascript" src="js/min/modernizr.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/min/main.min.css">
</head>
<body>
	<!--
	
      ___           ___           ___                   
     /\__\         /\  \         /\  \                  
    /:/  /         \:\  \       /::\  \         ___     
   /:/  /           \:\  \     /:/\:\  \       /\__\    
  /:/  /  ___   ___ /::\  \   /:/ /::\  \     /:/  /    
 /:/__/  /\__\ /\  /:/\:\__\ /:/_/:/\:\__\   /:/__/     
 \:\  \ /:/  / \:\/:/  \/__/ \:\/:/  \/__/  /::\  \     
  \:\  /:/  /   \::/__/       \::/__/      /:/\:\  \    
   \:\/:/  /     \:\  \        \:\  \      \/__\:\  \   
    \::/  /       \:\__\        \:\__\          \:\__\  
     \/__/         \/__/         \/__/           \/__/  
      ___           ___           ___     
     /\__\         /\__\         /\  \    
    /::|  |       /:/ _/_        \:\  \   
   /:/:|  |      /:/ /\__\        \:\  \  
  /:/|:|  |__   /:/ /:/ _/_   _____\:\  \ 
 /:/ |:| /\__\ /:/_/:/ /\__\ /::::::::\__\
 \/__|:|/:/  / \:\/:/ /:/  / \:\~~\~~\/__/
     |:/:/  /   \::/_/:/  /   \:\  \      
     |::/  /     \:\/:/  /     \:\  \     
     |:/  /       \::/  /       \:\__\    
     |/__/         \/__/         \/__/    


     Created by: Pablo Valor

    			- contact -
     Linkedin: http://tinyurl.com/lto97ry
     Email: pablovalor89@gmail.com

    2015 | Buenos Aires, Argentina    
	

	-->
	<!-- Particles ground -->
	<div id="canvas-container">
		<canvas id="pixie"></canvas>
	</div>
	<div id="bg">
		<img src="../../images/min/bg2.jpg" alt="">
	</div>
	<!-- /Particles ground -->
	{% block content %}{% endblock %}

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	
	{% block scripts%}{% endblock%}

	<!-- Google Analytics snippet-->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-58545672-2', 'auto');
	  ga('send', 'pageview');
	</script>
	<!-- /Google Analytics snippet-->
</body>
</html>