<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="title" content="Zen Chat">
	<meta name="description" content="Simple, lightweight and anonymous. Meet and discuss ideas with people from everywhere.">
	<meta name="author" content="Pablo Valor">
	<meta name="Copyright" content="Pablo Valor">

	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
	<title>Chat Zen</title>
	<!-- Google fonts -->
	<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:600,400' rel='stylesheet' type='text/css'>
	<!-- /Google fonts -->
	<link rel="stylesheet" type="text/css" href="css/min/main.min.css">
</head>
<body>
	<h1 class="text-center fadeIn animated">Chat <img src="images/min/lotus.png"/> Zen</h1>

	{% block content %}{% endblock %}

	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	
	{% block scripts%}{% endblock%}
</body>
</html>