{% extends 'layout.html' %}

{% block content %}
<div  class="fadeInUp animated">
	<h2 class="text-center with-margin-bottom" id="intro-text"><span class="simple">Simple</span>, <span class="lightweight">lightweight</span> and <span class="anonymous">anonymous</span>. Meet and discuss ideas with people from everywhere.</h2>
</div>

<div class="text-center animated-button-login fadeIn animated">
	<div class="button button-large" id="enter-button">Enter</div>
</div>

<!-- Login form -->
<div class="login text-center">
	<form action="/login" Method="POST" autocomplete="off">
		<p class="wrapper">
			<i class="fa fa-user"></i>
			<input placeholder="what is your name?" name="username" type="text" class="input-name" id="name" maxlength="20" required/>
		</p>
		<p class="wrapper">
			<input type="submit" value="Join" class="submit-button button button-large">
		</p>
	</form>
</div>
<!-- /Login form -->

<!-- Social -->
<div class="social animated fadeIn">
	<div class="text-center">
		<h2 class="without-margin-bottom">Share</h2>
		<p class="without-margin-top">
			<span class="symbol logo twitter big icon-spacing">
			<a href="#" onclick="window.open('http://twitter.com/intent/tweet?status=Zen Chat. Simple, lightweight and anonymous. Meet and discuss ideas with people from everywhere.+https//chat-zen.herokuapp.com/', 'twitter_share', 'height=320, width=640, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');">
			circletwitterbird</a>
			</span>
			
			
			<span class="symbol logo facebook big icon-spacing"><a href="#" onclick="window.open('http://www.facebook.com/sharer.php?u=https://chat-zen.herokuapp.com/&t=Zen Chat', 'facebook_share', 'height=320, width=640, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');">
			circlefacebook</a>
			</span>

			<span class="symbol logo googleplus big">
			<a href="#" onclick="window.open('https://plus.google.com/share?url=https://chat-zen.herokuapp.com', 'googleplus_share', 'height=320, width=640, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no');">
			circlegoogleplus</a>
			</span>
		</p>
	</div>
</div>
<!-- /Social -->

<!-- Who I am -->
<div class="who-i-am text-center animated fadeInUp">
	<h2>Who I am</h2>
</div>
<!-- /Who I am -->

{% endblock %}

{% block scripts%}
	<script type="text/javascript" src="js/min/login-app.min.js"></script>
{% endblock%}