{% extends 'layout.html' %}

{% block content %}
<div  class="fadeInUp animated">
	<h2 class="content-right"><span class="simple">Simple</span>, <span class="lightweight">lightweight</span> and <span class="anonymous">anonymous</span>. Meet and discuss ideas with people from all over the world.</h2>
</div>

<div class="text-center animated-button-login fadeIn animated">
	<div class="button button-large">Enter</div>
</div>

<div class="login">
	<form action="/login" Method="POST" autocomplete="off">
		<p class="name">
			<input placeholder="What is your name?" name="username" type="text" class="input-name" id="name" required/>
		</p>
		<div class="submit">
			<input type="submit" value="Join me" class="button-blue">
			<div class="ease"></div>
		</div>
	</form>
</div>

<!-- Social -->
<div class="text-center">
	<h2>Share</h2>
	<p>
		<span class="symbol logo facebook big">circlefacebook</span>
		<span class="symbol logo twitter big">circletwitterbird</span>
	</p>
</div>
<!-- /Social -->

{% endblock %}

{% block scripts%}
	<script type="text/javascript" src="js/min/login.min.js"></script>
{% endblock%}